body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "\9ED1\4F53", Arial, sans-serif;
}

form {
    margin: 0px;
    display: inline;
}


/*主体逻辑分区宽度和居中设置*/
#content
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    text-align: center;
}
/*主体头部标题和水平分割线*/
.content_header{
    margin-top: 30px;

}

#topic{
    font-size: 20px;
    color: #385D9B;
    text-align: start;
}

hr{
    margin-top: 10px;
    height: 0.8px;
    background-color: #cccccc;
}

.content_body{
    text-align: start;
    margin-top: 20px;
    margin-left: 10px;
    padding: 0 10px;
}

.ptJob_Info{
	width: 700px;
	background-color: rgba(226, 226, 226, 0.473);
	margin: 5px;
	padding: 10px;
	padding-left: 20px;
	font-size: 14px;
	border-radius: 3px;
	line-height: 22px;
	margin-top: 15px;
}

.pt_title
{
	font-size: 17px;
	font-weight: 400;
	margin: 10px;
	color:#464C5B;
}

.clickToApply{
	float: right;
	padding: 24px;
	padding-right: 35px;
}

#apply_btn{
	padding: 10px 24px;
	margin-left: 60px;
	border-radius: 3px;
	color: #cccccc;
	background-color: rgba(70, 76, 91, 0.952);
	border-color: #385D9B;
	font-size:13px;
}

#salary{
	vertical-align: center;
	width: 101.54px;
	height: 40px;
	padding-top: 60px;
}

#money{
	color: #385D9B;
	font-size: 33px;
	font-weight: 1000;
}

#content ul{
	color:rgb(116, 116, 116);
	font-size: 13;
	line-height: 24px;
}

#content a{
    color:#cccccc;
    text-decoration: none;
}

/* 分页部分样式 */

.page{
    margin-top: 90px;
}

.page .pagination{
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li{
    display: inline;
}

ul.pagination li a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active{
    background-color: #464C5B;
    color: #ffffff;
}

ul.pagination li a:hover:not(.active){
    background-color: #464C5B;
}