body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "\9ED1\4F53", Arial, sans-serif;
}

form {
    margin: 0px;
    display: inline;
}


#content
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    text-align: center;
}

#content_abstract{
    text-align: start;
    background-color: white;
    margin-top: 25px;
    padding: 10px 35px;
    border-radius: 3px;
}

#pt_title
{
	font-size: 25px;
	font-weight: 400;
	margin: 10px;
	color:#464C5B;
}

#salary{
    padding: 5px 25px;
    color: rgb(70, 76, 91);
	font-size: 20px;
	font-weight: 1000;
}

#require{
    color: rgb(151, 151, 151);
    font-size: 14px;
    margin: 10px 15px;
}

#cotent_detail{
    text-align: start;
    background-color: white;
    margin-top: 30px;
    padding: 30px 50px;
    line-height: 30px;
    border-radius: 3px;
    
}

.row{
    margin-top: 15px;
    margin-left:10px; 
}

.content_header{
    margin-top: 15px;
}

#sub_title{
    font-size: 22px;
}

.sub_title2{
    font-weight: 400;
}

.sub_content2{
    margin-left: 20px;
    font-size: 14.5px;
    color: rgb(112, 112, 112);
    font-weight: 300px;
}

#apply_btn{
    margin: 25px;
    padding: 15px 40px;
    border-radius: 3px;
    background-color: #464C5B;
    border-width: 0px;
    color:white;
}

a{
    color:#cccccc;
    text-decoration: none;
}

/* 分页部分样式 */

.page{
    margin-top: 90px;
}

.page .pagination{
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li{
    display: inline;
}

ul.pagination li a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active{
    background-color: #464C5B;
    color: #ffffff;
}

ul.pagination li a:hover:not(.active){
    background-color: #464C5B;
}