body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "\9ED1\4F53", Arial, sans-serif;
}

form {
    margin: 0px;
    display: inline;
}



a{
    color:#cccccc;
    text-decoration: none;
}


#container {
    width: 800px;
    margin-left: 35%;
    margin-top: 300px;
    text-align: center;
	
}

#box{
    margin-top:25px;
    margin-left: 33%;
}

.parent {
    width: 700px;
    height: 500px;
   
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-between;
    

  }

  .child {
    width:200px;
    border: 3px solid rgb(216, 216, 216);
    padding:5px;
    overflow-wrap: break-word;
    margin:5px;    
  }
  
  

