body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "\9ED1\4F53", Arial, sans-serif;
}

form {
    margin: 0px;
    display: inline;
}

/*定义头部高度背景颜色*/

#header {
    height: 83px;
    color: white;
    background-color: #464C5B;
    border-radius: 3px;
}

body{
    background-color: rgb(241, 243, 248);
}


/*以下为头部从左到右每一个元素的样式*/
#logo_img {
    width: 150px;
    height: 65;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#seperator {
    font-size: 38px;
    position: absolute;
    margin-top: 15px;
    color: #999999;
}

#search_input {
    position: absolute;
    width: 190px;
    margin-left: 30px;
    margin-top: 27px;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    border-radius: 4px;
}

.header_tab {
    margin: 0px 20px;
    color: #cccccc;
    font-size: 17px;
}

#f1 {
    position: absolute;
    margin-left: 250px;
    margin-right: 0px;
    padding: 30px 20px;
}

#f2 {
    position: absolute;
    margin-left: 324.2px;
    margin-right: 0px;
    padding: 30px 20px;
}

#f3 {
    height: 22.4px;
    color: #9BDDD1;
    background-color: rgba(51, 51, 51, 0.59);
    position: absolute;
    margin-left: 432.2px;
    margin-right: 0px;
    padding: 30px 20px;
}

#f4 {
    position: absolute;
    margin-left: 540.2px;
    margin-right: 0px;
    padding: 30px 20px;
}

#logout {
    position: absolute;
    margin-left: 648.2px;
    margin-right: 0px;
    padding: 30px 20px;
}

#logout_icon {
    position: absolute;
    margin-top: 27px;
    margin-left: 740px;
}

/*主体逻辑分区宽度和居中设置*/
#content
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*主体头部标题和水平分割线*/
.content_header{
    margin-top: 30px;

}

#topic{
    font-size: 20px;
    color: #385D9B;
    text-align: start;
}

hr{
    margin-top: 10px;
    height: 0.8px;
    background-color: #cccccc;
}

.content_body{
    text-align: start;
    margin-top: 20px;
    margin-left: 10px;

    padding: 10px 10px;
    background-color: white;
    border-radius: 3px;
}

.row{
    margin: 20px 0px;
    margin-left: 15px;
}

.red_star{
    color:red;
}
input.type1{
    padding: 5px 8px;
    border-radius: 2px;
    width: 350px;
}

input.type2{
    padding: 5px 8px;
    border-radius: 2px;
    width: 350px;
    height: 60px;
}

select{
    padding:4px 5px;
    border-radius: 3px;
}

button{
    position: absolute;
    padding: 8px 22px;
    left: 35%;
    margin-bottom: 30px;
    border-radius: 3px;
    margin-top: 10px;
    color: white;
    background-color: #385D9B;
    border-color: #385D9B;
}

a{
    color:#cccccc;
    text-decoration: none;
}