body {
    background-image: url("../../source/image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#tab {
    position: absolute;

    left: 35%;
    right: 35%;
    top: 8%;

}

#login_frame {
    width: 422px;
    height: 395px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 40px;
    margin-top: 6px;
}

#register_frame {
    width: 422px;
    height: 500px;
    padding-top: 2px;
    margin-left: 40px;
    margin-top: 6px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#register_frame #tips {
    float: left;
}

#tab-content .tab-item form p>* {
    display: inline-block;
    vertical-align: middle;
}

#tab-content .tab-item #logo {
    margin-top: 4px;
}

#tab-content .tab-item #logo img {
    width: 32%;
    height: 34%;
    padding-top: 0px;
    margin-bottom: 0px;
}

#tab-content .tab-item form {
    margin-top: -20px;
}

#tab-content #tips {
    font-size: 12px;
    color: rgb(206, 206, 206);
}

.block {
    display: block;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input {
    width: 290px;
    height: 42px;
    font-size: 13px;
    text-decoration-color: rgb(212, 211, 211);
    margin: 7px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: rgb(212, 211, 211);
    border-style: solid;
    padding-left: 5px;
}


.block-sex{
    float: left;
    margin-left: 7px;
}

.block-sex label{
    display: inline-block;
    width: 100px;
    text-align: right; 
}



.block-sex input {
    width: 16px;
    height: 16px;
    margin: 7px;
}

#tab-content .tab-item .image_input {
    margin-right: 28px;
    width: 26px;
    height: 26px;
}

#tab-content .tab-item #btn_login {
    font-size: 16px;
    width: 350px;
    height: 45px;
    line-height: 28px;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    background-color: rgb(10, 138, 10);
    float: center;
}

#tab-content .tab-item #btn_register {
    font-size: 16px;
    width: 350px;
    height: 45px;
    line-height: 28px;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    background-color: rgb(10, 138, 10);
    margin-top: 10px;
    float: center;
}

/*选项卡的头部*/

#tab-header {
    height: 50px;
    text-align: center;
}

#tab-header ul {
    width: 430px;
    position: absolute;
}

#tab-header ul li {
    float: left;
    background: rgb(168, 166, 166);
    width: 210px;
    height: 50px;
    line-height: 50px;
    padding: 0 0px;
    list-style: none;
    font-size: 18px;
}

#tab-header ul li.selected {
    background-color: rgb(240, 240, 240);
    font-weight: bolder;
    border-bottom: 0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 0;
}

#tab-content .tab-item {
    display: none;
}
