
body{
    background-color: #f6f6f6;
}
.sub_header_title{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	margin-left: 10px;
}
#topic{
	font-size: 20px;
    color: #385D9B;
    text-align: start;
}
.sub_header{
	width: 800px;
	height: 30px;
	border: 1px solid rgb(216, 216, 216);
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: #dadada7e;
	padding-top: 10px;
	font-size: 14px;
	border-radius: 2px;
	margin-top: 20px;
}

#pubcontent{
width:800px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;

}
#pt_job_header{
	width: 30px;
	padding-top: 20px;
	margin: 0px 90px;
	margin-left: 60px;
}

#pt_job_time{
	margin: 0px 20px;
	margin-right: 60px;
}
#pt_job_location{
	margin-left: 55px;
	margin-right: 60px;
}

#pt_job_salary{
	margin-left: 30px;
	margin-right: 100px;
}

.sub_container{
	width: 800px;
	height: 60px;
	border: 1px solid rgb(216, 216, 216);
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: #dadada10;
	padding-top: 40px;
	font-size: 14px;
	margin-top: 20px;
	border-radius: 2px;
	background-color: white;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.sub_container:hover{
	background-color: #dadada7e;
}

#pt_job_header1{
	word-break:break-all; 
	word-break: normal;
	display: inline;
	margin-left: 20px;
}
#pt_job_time1{
	word-break:break-all; 
	word-break: normal;
	display: inline;
}

#pt_job_location1{
	word-break:break-all; 
	word-break: normal;
	display: inline;
}

#pt_job_salary1{
	word-break:break-all; 
	word-break: normal;
	display: inline;
}

#pt_job_content1{
	word-break:break-all; 
	word-break: normal;
	display: inline;
}

.color_sub_header{
	border: 1px solid #dadada7e;
	width: 300px;
	text-align: left;
	height: 25px;
	margin-top: 20px;
	padding-top: 5px;
	padding-left: 20px;
	border-radius: 3px 3px 0 0;
	font-size: 14px;
	background-color:  rgba(51, 51, 51, 0.59);
	color: rgb(214, 214, 214);
}

.sub_content{
	border: 1px solid #cecece;
	height: 60px;
	border-radius: 0px 3px 3px 3px;
	text-align: left;
	padding-top: 30px;
	background-color: white;
}

#pt_type{
	width: 100px;
	margin-left: 55px;
	word-break:normal;
	display:inline-block;
	white-space:pre-wrap;
	word-wrap : break-word;
	overflow: hidden;
}

#pt_time{
	margin-left: 15px;
	width: 150px;
	word-break:normal;
	display:inline-block;
	white-space:pre-wrap;
	word-wrap : break-word;
	overflow: hidden;
}

#pt_salary{
	margin-left: 20px;
	width: 120px;
	word-break:normal;
	display:inline-block;
	white-space:pre-wrap;
	word-wrap : break-word;
	overflow: hidden;
}

#pt_location{
	width: 150px;
	word-break:normal;
	display:inline-block;
	white-space:pre-wrap;
	word-wrap : break-word;
	overflow: hidden;
}

#pt_content{
	margin-left: 50px;
	width: 100px;
	word-break:normal;
	display:inline-block;
	white-space:pre-wrap;
	word-wrap : break-word;
	overflow: hidden;
	
}

#pt_more{
	margin-left: 25px;
	word-break:normal;
	display:inline-block;
	white-space:pre-wrap;
	word-wrap : break-word;
	overflow: hidden;
	font-size: 13px;
	text-decoration: none;
	color: black;
}